body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #050816;
}

.app-bg {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #050816,
    #0b1437,
    #121d4b
  );
  color: white;
}

.custom-nav {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
}

.hero-section {
  padding: 70px 20px;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 0 0 20px cyan;
}

.hero-section p {
  color: #cbd5e1;
  font-size: 1.1rem;
}

.glass-card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0,255,255,0.12);
}

.glass-card:hover {
  transform: translateY(-8px);
}

.upload-card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 0 25px rgba(0,255,255,0.15);
}

.upload-card h2 {
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
}

img {
  transition: 0.4s;
  border-radius: 12px;
}

img:hover {
  transform: scale(1.08);
}

.analysis-title {
  margin-bottom: 30px;
  font-weight: bold;
}

.stats-number {
  font-size: 2rem;
  font-weight: bold;
  color: cyan;
}

.ai-box {
  text-align: left;
}

.ai-box p {
  color: #d1d5db;
  line-height: 1.8;
}

.landing-zone {
  margin-top: 30px;
}

hr {
  border-color: rgba(255,255,255,0.2);
}

.footer-space {
  height: 40px;
}